@page "/StudentBackground"
@using MudBlazor
@using BlazorTest
@inject StudentListViewModel studentListViewModel

<h3>Student Background</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course</th>
            <th>Year Level</th>
            <th>Background</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var student in studentListViewModel.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Course</td>
                <td>@student.YearLevel</td>
                <td>@student.Background</td> 
            </tr>
        }
    </tbody>
</table>

@code {

}
